@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .paging-buttons {
    color: white;
    background-color: darkblue;
    border-radius: 0.5rem;
    border: 1px solid darkblue;
    margin: 0.5rem 0 0.5rem 0;
    padding: 0.5rem;
  }

  .paging-buttons:hover, .favourite-buttons:hover {
    color: red;
    border: solid 1px lightblue;
  }

  .favourite-buttons {
    color: white;
    background-color: darkblue;
    border-radius: 0.5rem;
    border: 1px solid darkblue;
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
    padding: 0.5rem;
  }

  .titles{
    width: 100%;
    text-align:center;
    font-size: 32px;
    color: lightblue;
    font-weight: bold;
    background-color: darkblue;
  }

  .main-title{
    text-align:center;
    font-size: 42px;
    color: white;
    background-color: blue;
    width: 100%;

  }
}


